<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method=POST>
<label>Name: </label><br>
<input type="text" id="landmark_name" name="landmark[name]"> <br>
<label>Year Completed: </label>
<input type="text" id="landmark_year_completed" name="landmark[year_completed]"> <br>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>

<input type="submit" id="submit" value="Create New Landmark">
</form>
